<div class="container">
  <h2>Companies
    <button type="button" class="btn btn-secondary pull-right"
    (click)="onClickNewCompany()">New Company</button>
  </h2>

  <ul class="list-group">
    <li *ngFor="let company of companies"
    class="list-group-item list-group-item-action"
    (click)="onSelect(company)"
    [class.active]="company === selectedCompany">
      {{ company.name }}
      <button class="delete" (click)="deleteCompany(company); $event.stopPropagation()">x</button>
    </li>
  </ul>
</div>
<app-company-detail [company]="selectedCompany"></app-company-detail>
<app-company-form
  [hidden]="!isAddingNewCompany"
  [createHandler]="createCompany">
</app-company-form>
