<h2>Companies</h2>
<div>
  <label>New Company: </label><input #companyName />
  <button (click)="add(companyName.value); companyName.value=''">
    Add
  </button>
</div>
<ul class="list-group">
  <li *ngFor="let company of companies" class="list-group-item flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <p>{{ company.name }}</p>
      <i class="fa fa-pencil pull-right" aria-hidden="true"></i>
    </div>
      <p class="mb-1">{{ company.notes }}</p>
  </li>
</ul>
