<div class="container">
  {{diagnostic}}
  <h2>New Company</h2>
  <form #companyForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="newCompany.name" name="name">
    </div>
    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea class="form-control" id="notes"
                [(ngModel)]="newCompany.notes" name="notes"></textarea>
    </div>
    <button (click)="onSubmit(newCompany)" class="btn btn-success">Submit</button>
  </form>
</div>
